<ion-view>
    <ion-content ng-controller="CameraCtrl">
        <ion-header-bar>
            <h1 class="title">Photos</h1>
        </ion-header-bar>
        <ion-content padding="true">
            <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
            <img ng-src="{{lastPhoto}}" style="max-width: 100%">
        </ion-content>
    </ion-content>
</ion-view>