<ion-view>
    <ion-content ng-controller="MapCtrl">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Map</h1>
        </ion-header-bar>

        <ion-content scroll="false">
            <map on-create="mapCreated(map)"></map>
        </ion-content>

        <ion-footer-bar class="bar-stable">
            <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
        </ion-footer-bar>
    </ion-content>
</ion-view>